<div class="navbar navbar-inverse navbar-fixed-top">
  <div class='container'>
    <div class='navbar-header'>
      <a href="" class='navbar-brand'>Code Generation</a>
      <button class='navbar-toggle' type='button' data-toggle='collapse' data-target='#navbar-main'>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
    </div>
    <div class='navbar-collapse collapse' id='navbar-main'>
      <ul class='nav navbar-nav navbar-right'>
        <li><a href="">Challenge 1</a></li>
        <li><a href="">Challenge 2</a></li>
        <li><a href="">Log Out</a></li>
        <li><button onclick='constructPage()' class='btn btn-default navbar-btn'>Generate</button></li>
      </ul>
    </div>
  </div> 
</div>
