<div class="row">
  <div class="col-lg-12">
    <div class="bs-component">
      <div class="jumbotron">
        <h1>Empowerment Through Code</h1>
        <p>Mission Statement</p>
        <p><a href="/users/new" class="btn btn-primary btn-lg">Join</a></p>
      </div>
    </div>
  </div>
</div>
